<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="book"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Emprestar</ion-label>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="search"></ion-icon>
      <ion-label>Detalhes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
