<ion-header>
  <ion-toolbar>
    <ion-title>
      Gerenciador - XPTO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-select placeholder="Escolha um item aqui" (ionChange)="novaSelecao($event)" [(ngModel)]="placeholder">
          <ion-select-option *ngFor="let item of listaFiltrada" value="{{item.id}}">Id:{{item.id}} - {{item.nome}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8" offset="2">
        <div style="text-align:center">
          <p>Adicione abaixo as <br> informações do empréstimo</p>
        </div>
      </ion-col>
      <ion-col size="10" offset="1">
        <form>
          <textarea rows="9" cols="35" [(ngModel)]="emprestimo" [ngModelOptions]="{standalone: true}"></textarea>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4" offset="4" style="text-align:center">
        <ion-button (click)="alteraItem()">Emprestar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8" offset="2">
        <div style="text-align:center">
          <p *ngIf="sucesso" style="color:green">Item emprestado com sucesso.</p>
          <p *ngIf="erro" style="color:red">Item não selecionado.</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>