<ion-header>
	<ion-toolbar>
		<ion-title>
			Gerenciador - XPTO
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item class="add">
		<form [formGroup]="formulario">
			<ion-input formControlName="nome" maxlength="10"></ion-input>
		</form>
		<ion-button (click)="adicionarItem()" [disabled]="formulario.value.nome === null || formulario.value.nome === ''">Adicionar Item</ion-button>
	</ion-item>
	<p *ngIf=" !listaEquipamentos ||  listaEquipamentos.length === 0 || listaEquipamentos === null || listaEquipamentos === undefined"
		style="margin-top: 40px; font-size: 25px; text-align: center;">Não existem itens disponíveis</p>
	<ion-grid *ngIf="listaEquipamentos && listaEquipamentos.length > 0">
		<ion-row style="margin-top: 30px; margin-bottom: 10px">
			<ion-col size="2">ID</ion-col>
			<ion-col size="4">Nome</ion-col>
			<ion-col size="4">Estado</ion-col>
		</ion-row>
	</ion-grid>
	<hr>
	<ion-list *ngFor="let item of listaEquipamentos">
		<ion-grid *ngIf="listaEquipamentos && listaEquipamentos.length > 0">
			<ion-row>
				<ion-col size="11">
					<ion-row (click)="mostrarDetalhes(item)">
						<ion-col size="2">
							<p>{{item.id}}</p>
						</ion-col>
						<ion-col size="5">
							<p>{{item.nome}}</p>
						</ion-col>
						<ion-col size="4" *ngIf="item.emprestado === true">
							<p>Emprestado</p>
						</ion-col>
						<ion-col size="4" *ngIf="item.emprestado === false">
							<p>Disponível</p>
						</ion-col>
					</ion-row>
				</ion-col>

				<ion-col size="1">
					<ion-col (click)="deletarItem(item)">
						<ion-icon name="trash" style="font-size: 25px; color: red;"></ion-icon>
					</ion-col>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
</ion-content>