ion-col {
	text-align: center;
	font-size: 16px;
	margin: 0;

	p {
		margin: 0;
	}
}

hr {
	border-top: 1px solid silver;
  }

input {
	margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
}

ion-input {
	height: 60px;
	width: 50vw;
}

ion-button {
	width: 40vw;
	height: 30px;
}