<ion-header>
  <ion-toolbar>
    <ion-title>
      Gerenciador - XPTO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="text-align: center; margin-top: 40px; margin-bottom: 40px;">{{item.id}} - {{item.nome}}</ion-title>
  <ion-title *ngIf="item.emprestado === true" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
    Status: Emprestado</ion-title>
  <ion-title *ngIf="item.emprestado === false" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
    Status: Disponível</ion-title>
  <ion-card *ngIf="item.detalhes !== ''">{{item.detalhes}}</ion-card>
  <ion-item style="margin-left:30vw; margin-top: 40px;">
    <ion-button style="width:30vw; height: 5vh;" [disabled]="!item.emprestado" (click)="receberItem()">Receber</ion-button>
  </ion-item>
</ion-content>